# Firebase Configuration
REACT_APP_FIREBASE_API_KEY=your-api-key-here
REACT_APP_FIREBASE_AUTH_DOMAIN=your-auth-domain-here
REACT_APP_FIREBASE_PROJECT_ID=your-project-id-here
REACT_APP_FIREBASE_STORAGE_BUCKET=your-storage-bucket-here
REACT_APP_FIREBASE_MESSAGING_SENDER_ID=your-messaging-sender-id-here
REACT_APP_FIREBASE_APP_ID=your-app-id-here

# NO QUOTES, used for backend testing in Expo Go
#REACT_APP_BACKEND_URL=http://[YOUR BACKEND'S IP]:5001